body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}
body{
    margin: auto;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;

}

/*Navbar Styles*/
.w3-navbar {
    color: #fff;

}

.w3-navbar.w3-animate-top {
    color: #444;
}

.w3-navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3
 {
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/palms.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/clouds.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../img/beach.jpg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

#googleMap {
    width: 100%;
    height: 400px;
    
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

/* About Section */
#about {
    font-size: 1.4em;
}

/* Heart Icon */
.heart-icon {
    color: hotpink;

}


/* Clearfix Hack */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Social Media Icons */
.w3-half>a {
    text-decoration: none;

}

i.fa {
    padding-top: .2em;
    padding-left: .5em;
    padding-right: .5em;
    transition: color 1s;
}

.fa-fire:hover {
    color: #4a4;
}

.fa-facebook:hover {
    color: #04a;
}

.fa-codepen:hover {
    color: #4af;
}

/* Bio Pic */
#profile {
  width: 40%;
float: right;
}


body {
    background-color: #3bb2b8;
    background: linear-gradient(25deg,
        rgba(66, 230, 149, 1),
        rgba(66, 32, 149, 1));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}


.container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
    text-align: center;
    margin-bottom: 1em;
}

.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div>img {
    max-width: 100%;
    display: block;
}

.lightbox-gallery div {
    margin: 10px;
    flex-basis: 320px;
}

@media only screen and (max-width: 480px) {
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
    }

    .lightbox>div {
        margin-bottom: 10px;
    }
}

/*Lighbox CSS*/

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
}

.lightbox img {
    display: block;
    margin: auto;
}

.lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color:#eee;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*quote at top of page */
#success{
    font-size: 17px;
    font-family: 'Indie Flower', cursive;
    
}

/* fonts on portfolio */
.font2{
    font-size:25px;
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(252, 133, 192);
}
/* about section paragrah quote */
#about-text{
font-size: 15px;
}


.fa-gripfire{
    color: coral;
}


/* Form */

form {
    margin: 0 0 2rem 0;
}

    form > :last-child {
        margin-bottom: 0;
    }

    form > .fields {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: -2rem 0 2rem -2rem;
        width: calc(100% + 4rem);
    }

        form > .fields > .field {
            -moz-flex-grow: 0;
            -webkit-flex-grow: 0;
            -ms-flex-grow: 0;
            flex-grow: 0;
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            padding: 2rem 0 0 2rem;
            width: calc(100% - 2rem);
        }

            form > .fields > .field > :last-child {
                margin-bottom: 0;
            }

            form > .fields > .field.half {
                width: calc(50% - 1rem);
            }

            form > .fields > .field.third {
                width: calc(100%/3 - 0.6666666667rem);
            }

            form > .fields > .field.quarter {
                width: calc(25% - 0.5rem);
            }

    @media screen and (max-width: 480px) {

        form > .fields {
            margin: -1.5rem 0 2rem -1.5rem;
            width: calc(100% + 3rem);
        }

            form > .fields > .field {
                padding: 1.5rem 0 0 1.5rem;
                width: calc(100% - 1.5rem);
            }

                form > .fields > .field.half {
                    width: calc(100% - 1.5rem);
                }

                form > .fields > .field.third {
                    width: calc(100% - 1.5rem);
                }

                form > .fields > .field.quarter {
                    width: calc(100% - 1.5rem);
                }

    }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0.325rem;
    border: solid 2px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    input[type="search"]:invalid,
    input[type="url"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="search"]:focus,
    input[type="url"]:focus,
    select:focus,
    textarea:focus {
        border-color:rgb(29, 207, 207);
    }

label {
    color: #000000;
    display: block;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.175em;
    line-height: 1.75;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
    height: 3rem;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
    background-position: calc(100% - 1rem) center;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    height: 3rem;
    padding-right: 3rem;
    text-overflow: ellipsis;
}

    select option {
        background-color: #ffffff;
        color: #000000;
    }

    select:focus::-ms-value {
        background-color: transparent;
    }

    select::-ms-expand {
        display: none;
    }

textarea {
    padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2rem;
    opacity: 0;
    width: 1rem;
    z-index: -1;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.0375em;
        padding-left: 2.675rem;
        padding-right: 0.875rem;
        position: relative;
        text-transform: none;
    }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            border-radius: 0.325rem;
            border: solid 2px rgba(144, 144, 144, 0.25);
            content: '';
            display: inline-block;
            height: 1.8rem;
            left: 0;
            line-height: 1.725rem;
            position: absolute;
            text-align: center;
            top: -0.15rem;
            width: 1.8rem;
        }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
        content: '\f00c';
        background-color: #49fcd4;
        border-color: #49fcd4;
        color: #ffffff;
    }

    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
        border-color: #49fcd4;
        box-shadow: 0 0 0 1px #49fcd4;
    }

input[type="checkbox"] + label:before {
    border-radius: 0.325rem;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    opacity: 1.0;
    color: rgba(0, 0, 0, 0.25) !important;
}

:-moz-placeholder {
    opacity: 1.0;
    color: rgba(0, 0, 0, 0.25) !important;
}

::-moz-placeholder {
    opacity: 1.0;
    color: rgba(0, 0, 0, 0.25) !important;
}

:-ms-input-placeholder {
    opacity: 1.0;
    color: rgba(0, 0, 0, 0.25) !important;
}

@media screen and (max-width: 736px) {

    label {
        font-size: 0.675rem;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        font-size: 1rem;
    }

}

@media screen and (max-width: 360px) {

    label {
        font-size: 0.675rem;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        font-size: 1rem;
    }

}


/* List */

ol {
    list-style: decimal;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
}

    ol li {
        padding-left: 0.25rem;
    }

ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}

    ul li {
        padding-left: 0.325rem;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt > li {
            border-top: solid 1px rgba(144, 144, 144, 0.25);
            padding: 0.75rem 0;
        }

            ul.alt > li:first-child {
                border-top: 0;
                padding-top: 0;
            }

            ul.alt > li:last-child {
                padding-bottom: 0;
            }

    ul.items {
        list-style: none;
        padding-left: 0;
    }

        ul.items > li {
            padding-left: 0;
            margin: 0 0 3rem 0;
        }

            ul.items > li > h3 {
                margin: 0 0 1rem 0;
            }

            ul.items > li > :last-child {
                margin-bottom: 0;
            }

            ul.items > li:last-child {
                margin-bottom: 0;
            }

    @media screen and (max-width: 736px) {

        ul.items > li {
            margin: 0 0 2rem 0;
        }

    }

dl {
    margin: 0 0 2rem 0;
}

    dl dt {
        display: block;
        font-weight: 600;
        margin: 0 0 1rem 0;
    }

    dl dd {
        margin-left: 1.5rem;
    }

/* Actions */

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1rem;
    padding-left: 0;
}

    ul.actions li {
        padding: 0 0 0 1rem;
        vertical-align: middle;
    }

    ul.actions.special {
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

        ul.actions.special li:first-child {
            padding-left: 0;
        }

    ul.actions.stacked {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
    }

        ul.actions.stacked li {
            padding: 1.3rem 0 0 0;
        }

            ul.actions.stacked li:first-child {
                padding-top: 0;
            }

    ul.actions.fit {
        width: calc(100% + 1rem);
    }

        ul.actions.fit li {
            -moz-flex-grow: 1;
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
            -moz-flex-shrink: 1;
            -webkit-flex-shrink: 1;
            -ms-flex-shrink: 1;
            flex-shrink: 1;
            width: 100%;
        }

            ul.actions.fit li > * {
                width: 100%;
            }

        ul.actions.fit.stacked {
            width: 100%;
        }

    @media screen and (max-width: 480px) {

        ul.actions:not(.fixed) {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-left: 0;
            width: 100% !important;
        }

            ul.actions:not(.fixed) li {
                -moz-flex-grow: 1;
                -webkit-flex-grow: 1;
                -ms-flex-grow: 1;
                flex-grow: 1;
                -moz-flex-shrink: 1;
                -webkit-flex-shrink: 1;
                -ms-flex-shrink: 1;
                flex-shrink: 1;
                padding: 1rem 0 0 0;
                text-align: center;
                width: 100%;
            }

                ul.actions:not(.fixed) li > * {
                    width: 100%;
                }

                ul.actions:not(.fixed) li:first-child {
                    padding-top: 0;
                }

                ul.actions:not(.fixed) li input[type="submit"],
                ul.actions:not(.fixed) li input[type="reset"],
                ul.actions:not(.fixed) li input[type="button"],
                ul.actions:not(.fixed) li button,
                ul.actions:not(.fixed) li .button {
                    width: 100%;
                }

                    ul.actions:not(.fixed) li input[type="submit"].icon:before,
                    ul.actions:not(.fixed) li input[type="reset"].icon:before,
                    ul.actions:not(.fixed) li input[type="button"].icon:before,
                    ul.actions:not(.fixed) li button.icon:before,
                    ul.actions:not(.fixed) li .button.icon:before {
                        margin-left: -0.5rem;
                    }

    }

    /* Card image*/
    .card-img-top{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    #player{
       margin-top:10px;
        height: 35px;
        opacity: 0.7;
        -webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;

-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
    }

    #player:hover, #player:focus, #player:active
{

-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    #player{
       
        height: 35px;
        opacity: 0.7;
 
    }

 
}

#word{
    font-size: 18px;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 50%;
    margin-left: 40%;
}

.loader {
    position: absolute;
    border: 3px dotted white; /* Light grey */
    border-top: 3px solid transparent; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 45%;
    margin-left: 41%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
